
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类新增</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/css/me.css" >
</head>
<body>

<!--导航-->
<nav th:replace="admin/fragments :: menu(3)"  class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >

</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <div class="ui pointing dropdown  item">
                新增
                <div class="menu">
                    <a href="#" th:href="@{/admin/tags/input?type=1}" class="item">一级标签</a>
                    <a href="#" th:href="@{/admin/tags/input?type=2}" class="item">二级标签</a>
                </div>
            </div>
            <a href="#" th:href="@{/admin/tags}" class="teal  item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#" method="post" th:object="${Tag}" id="form1"
         th:if="${typeCondition eq 1}"
         th:action="${id}==null ? @{/admin/tags/input?type=1} : @{/admin/tags/update/{id}(id=${id})?type=1}"  class="ui form">
            <input type="hidden" name="id" th:value="${id}">
            <div class=" field">
                <div class="ui left labeled input">
                    <div class="ui selection compact teal basic dropdown label">
                        <input type="hidden"  name="articleParCategory" th:value="${Tag.articleParCategory}">
                        <i class="dropdown icon"></i>
                        <div class="text">文章类型</div>
                        <div class="menu">
                            <div class="item"
                                 th:each="category:${articleCategoryList}"
                                 th:text="${category.articleCategoryName}"
                                 th:data-value="${category.articleCategoryId}">失物招领</div>
                        </div>
                    </div>
                    <input type="text" name="name" placeholder="一级标签名" th:value="${Tag.name}" >
                </div>
            </div>

            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
                <button class="ui teal submit button">提交</button>
            </div>

        </form>
        <form action="#" method="post" th:object="${Tag}" id="form2"
              th:if="${typeCondition eq 2}"
              th:action="${id}==null ? @{/admin/tags/input?type=2} : @{/admin/tags/update/{id}(id=${id})?type=2}"  class="ui form">
            <input type="hidden" name="id" th:value="${id}">
            <div class=" field">
                <div class="ui left labeled input">
                    <div class="ui  compact teal basic dropdown label">
                        <input type="hidden"  name="parId" th:value="${Tag.parId}">
                        <div class="text">父标签</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" th:each="category:${articleTags}">
                                <i class="dropdown icon" ></i>
                                <span class="text" th:text="${category.articleCategoryName}">失物招领</span>
                                <div class="menu">
                                    <div class="item" th:each="tag:${category.tagList}"
                                    th:text="${tag.name}" th:data-value="${tag.id}">Shirts</div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <input type="text" name="name" placeholder="二级标签名" th:value="${Tag.name}" >
                </div>
            </div>

            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
                <button class="ui teal submit button">提交</button>
            </div>

        </form>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部footer-->
<footer class="ui inverted segment vertical segment m-padded-tb-massive">
    <div th:replace="fragments :: foot"></div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    $('#form1').form({
        fields : {
            articleParCategory : {
                identifier: 'articleParCategory',
                rules: [{
                    type : 'empty',
                    prompt: '请输入文章类型'
                }]
            },
            name : {
                identifier: 'name',
                rules: [{
                    type : 'empty',
                    prompt: '请输入一级标签名'
                }]
            },
        }
    });

    $('#form2').form({
        fields : {
            parId : {
                identifier: 'parId',
                rules: [{
                    type : 'empty',
                    prompt: '请输入父标签'
                }]
            },
            name : {
                identifier: 'name',
                rules: [{
                    type : 'empty',
                    prompt: '请输入二级标签名'
                }]
            },
        }
    });



</script>
</body>
</html>