
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类新增</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/css/me.css" >
</head>
<body>

<!--导航-->
<nav th:replace="admin/fragments :: menu(3)"  class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >

</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/input}" class="active item">新增</a>
            <a href="#" th:href="@{/admin/types}" class="teal  item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#" method="post" th:object="${ArticleCategory}" th:action="${id}==null ? @{/admin/types/input} : @{/admin/types/update/{id}(id=${id})}"  class="ui form">
            <input type="hidden" name="articleCategoryId" th:value="${id}">
            <div class=" field">
                <div class="ui left labeled input">
                    <div class="ui selection compact teal basic dropdown label">
                        <input type="hidden"  name="parentId" th:value="${ArticleCategory.parentId}">
                        <i class="dropdown icon"></i>
                        <div class="text">文章类型</div>
                        <div class="menu">
                            <div class="item"
                            th:each="parCategory:${parCategoryList}"
                            th:text="${parCategory.articleCategoryName}"
                            th:data-value="${parCategory.articleCategoryId}">失物招领</div>

                        </div>
                    </div>
                    <input type="text" name="articleCategoryName" placeholder="分类名称" th:value="${ArticleCategory.articleCategoryName}" >
                </div>
            </div>

            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
                <button class="ui teal submit button">提交</button>
            </div>

        </form>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部footer-->
<footer class="ui inverted segment vertical segment m-padded-tb-massive">
    <div th:replace="fragments :: foot"></div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    $('.ui.form').form({
        fields : {
            articleCategoryName : {
                identifier: 'articleCategoryName',
                rules: [{
                    type : 'empty',
                    prompt: '请输入分类名称'
                }]
            },
            parentId : {
                identifier: 'parentId',
                rules: [{
                    type : 'empty',
                    prompt: '请选择文章分类'
                }]
            },
        }
    });



</script>
</body>
</html>