<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>咨询:招聘会</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/css/me.css" >


</head>
<body>
<!--导航栏-->
<!--inverter反转，segment片段-->
<nav class="ui inverted attached segment">
    <div th:insert="fragments :: nav"></div>
</nav>

<!--中间内容-->
<div>
    <div class="m-padded-tb-large">
        <div class="ui m-container">
            <div class="ui segment top attached secondary">
                <div class="ui  middle aligned  column grid">
                    <div class="row">
                        <div class="four wide column">
                            <div class="ui header teal">招聘会</div>
                        </div>
                        <!--<div class="twelve wide right aligned column">
                            <form name="condition" action="/2" method="get">
                                <div class="ui  icon input">
                                    <input type="text" placeholder="请输入搜索内容" name="search"  value="">
                                    <i class="search link icon" onclick="document.condition.submit()"></i>
                                </div>
                            </form>

                        </div>-->

                    </div>
                </div>
            </div>
            <table  class="ui compact celled teal table">
                <thead>
                <tr>
                    <th></th>
                    <th>招聘会名称</th>
                    <th>举办城市</th>
                    <th>举办地址</th>
                    <th>招聘会类型</th>
                    <th>举办时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="information,iterStat : ${informationList}">
                    <td th:text="${iterStat.count}">1</td>
                    <td><a th:href="${information.url}" th:text="${information.title}" target="_blank" style="color: #8898a7;">招聘会名称</a></td>
                    <td th:text="${information.city}">举办城市</td>
                    <td th:text="${information.address}">举办地址</td>
                    <td th:text="${information.type}">招聘会类型</td>
                    <td th:text="${information.time}">举办时间</td>
                </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>

    <br>
    <br>

</div>
<!--底部-->
<!--vertical垂直-->
<footer class="ui inverted segment vertical segment m-padded-tb-massive">
    <div th:replace="fragments :: foot"></div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="/static/js/common/common.js"></script>


<script>


    // 手机端右上角按钮点击事件
    $('#mobile-btn').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#mobile-btn1').click(function () {
        $('.m-item-search').toggleClass('m-mobile-hide');
    });

    $('.menu .item')
        .tab()
    ;
    // 导航栏下拉列表选中
    $(function () {
        $('.nav-dropdown').dropdown({
            on : 'hover'
        });
    });


</script>
</body>
</html>