<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户页面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/css/me.css" >

</head>
<body>
<!--导航栏-->
<!--inverter反转，segment片段-->
<nav class="ui inverted attached segment">
   <div th:insert="fragments :: nav"></div>
</nav>

<!--中间内容-->
<div>
    <div class="m-padded-tb-large">
        <div class="ui m-container">
            <div class="ui stackable grid">
                <!--左边列表-->
                <div class="eleven wide column">
                    <!--头像区域-->
                    <div class="ui segment top attached">
                        <div class="ui grid">
                            <div class="five wide column">
                                <img src="/static/images/user.jpg" alt="" class="ui avatar image" style="width: 160px!important;height: 160px!important;"
                                     th:src="${people.userImg}">
                            </div>
                            <div class="eleven wide column">
                                <h1 class="header" th:text="${people.userName}" style="padding-top: 40px;">用户</h1>
                                <p th:text="${people.description}" class="m-text-thin" style="color: teal"></p>
                                <div th:if="${owner}">
                                    <a href=""
                                       th:href="@{|/update?userId=${people.userId}|}"
                                    style="color: #009a61 !important;text-decoration: none !important; line-height: 20px !important;margin-top:10px!important;">
                                        编辑资料</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--已发布信息区域-->
                    <div class="ui segment">

                        <div class="ui menu stackable">
                            <a th:class="${parCategory}=='1'?'active item':'item'"
                               th:href="@{|/people/${peopleId}/1|}"
                                >
                                <i class="privacy icon"></i> 失物招领
                            </a>
                            <a th:class="${parCategory}=='2'?'active item':'item'"
                                   th:href="@{|/people/${peopleId}/2|}">
                                <i class="shop icon"></i> 二手交易
                            </a>
                            <a th:class="${parCategory}=='3'?'active item':'item'"
                               th:href="@{|/people/${peopleId}/3|}">
                                <i class="exchange icon"></i> 校园互助
                            </a>
                            <a th:class="${parCategory}=='4'?'active item':'item'"
                               th:href="@{|/people/${peopleId}/4|}">
                                <i class="money icon"></i> 兼职信息
                            </a>
                            <a th:class="${parCategory}=='5'?'active item':'item'"
                               th:href="@{|/people/${peopleId}/5|}"
                               th:if="${people.userType==1}">
                                <i class="student icon"></i> 校园公告
                            </a>
                            <a th:class="${parCategory}=='6'?'active item':'item'"
                               th:href="@{|/people/${peopleId}/6|}"
                               th:if="${people.userType==2}">
                                <i class="travel icon"></i> 企业信息
                            </a>
                            <div class="ui dropdown link item" th:if="${people.userType==3}">
                                <i class="bookmark icon"></i>
                                更多
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <a th:href="@{|/people/${peopleId}/5|}"
                                       th:class="${parCategory}=='5'?'active item':'item'">校园公告</a>
                                    <a th:href="@{|/people/${peopleId}/6|}"
                                       th:class="${parCategory}=='6'?'active item':'item'">企业信息</a>
                                </div>
                            </div>
                            <a th:class="${parCategory}=='notification'?'active item':'item'"
                               th:href="@{'/people/'+${peopleId}+'/notification'}">
                                <i class="alarm icon"></i>
                                <span th:text="${owner}?'我的通知':'他的回复'">我的通知</span>
                            </a>
                        </div>

                        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                            <i class="close icon"></i>
                            <div class="header">提示：</div>
                            <p th:text="${message}">恭喜，操作成功！</p>
                        </div>
                        <!--文章列表-->
                        <table class="ui celled stackable table" th:unless="${notificationInfo}">
                            <!--tr表格中的一行-->
                            <!--th是定义表格内的表头中的单元格，td是代表HTML表格中的一个单元版格。-->
                            <thead class="m-mobile-hide">
                            <tr>
                                <th>标题</th>
                                <th>时间</th>
                                <th th:if="${owner}">操作</th>
                            </tr>
                            <tr th:if="${#lists.isEmpty(pageInfo.getList())}">
                                <th colspan="3">暂未发布文章</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="article:${pageInfo.getList()}">

                                <td><a href="" th:text="${article.articleTitle}"
                                                th:href="@{|/${parCategory}/${article.id}|}">文章标题</a></td>
                                <td>
                                    <p th:text="${#dates.format(article.editTime,'YYYY-MM-dd')}"></p>
                                </td>

                                <td th:if="${owner}">
                                    <a th:href="@{'/'+${parCategory}+'/'+update(articleId=${article.id})}" class="ui mini teal basic button">编辑</a>
                                    <a href="#" class="ui mini red basic button delete-btn"
                                    th:attr="del_uri=@{'/'+${parCategory}+'/'+delete(articleId=${article.id})}">删除</a>
                                </td>

                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="3">
                                    <div class="ui mini pagination menu">
                                        <a class="item"
                                           th:href="@{'/people/'+${peopleId}+'/'+${parCategory}(page=${pageInfo.pageNum - 1})}"
                                           th:style="${pageInfo.pageNum - 1}<=0?'pointer-events: none;opacity: 0.6;'">
                                            上一页
                                        </a>
                                        <a class="item"
                                           th:href="@{'/people/'+${peopleId}+'/'+${parCategory}(page=${pageInfo.pageNum + 1})}"
                                           th:style="${pageInfo.pageNum + 1}>${pageInfo.pages}?'pointer-events: none;opacity: 0.6;'"
                                        >
                                            下一页
                                        </a>
                                    </div>
                                    <a href="#" class="ui mini right floated teal basic button"
                                       th:if="${owner}"
                                       th:href="@{|/${parCategory}/add|}"
                                    >新增</a>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                        <!--信息通知列表-->
                        <div class="ui  message" th:if="${notificationInfo}">
                            <div class="header"
                                 th:text="${owner}?'我的通知':'他的回复'">我的通知</div>
                            <div class="ui divider"></div>
                            <ul class="list" th:if="${#lists.isEmpty(notificationInfo.getList())}">
                                <li>暂无信息通知</li>
                            </ul>
                            <ul class="list" th:unless="${#lists.isEmpty(notificationInfo.getList())}">
                                <li th:each="notification:${notificationInfo.getList()}">
                                    <div>
                                        <a href="" th:text="${notification.notifier.userName}"
                                        th:href="@{|/people/${notification.notifier.userId}/1|}">谢豪</a>
                                        <span th:text="${notification.type}==1?'评论了文章':'回复了评论'">评论了文章</span>
                                        <a href="#" th:href="@{|/notification/${peopleId}/${notification.id}|}"
                                        th:text="${notification.outerTitle}">123</a>
                                        <span th:if="${notification.articleParCategory==1}">（失物招领）</span>
                                        <span th:if="${notification.articleParCategory==2}">（二手交易）</span>
                                        <span th:if="${notification.articleParCategory==3}">（校园互助）</span>
                                        <span th:if="${notification.articleParCategory==4}">（兼职信息）</span>
                                        <span th:if="${notification.articleParCategory==5}">（校园公告）</span>
                                        <span th:if="${notification.articleParCategory==6}">（企业信息）</span>
                                        <span th:text="${#dates.format(notification.createTime,'yyyy-MM-dd')}">（企业信息）</span>
                                        <!--满足信息通知为未读且是当前用户，则显示未读-->
                                        <div class="ui teal basic left pointing label"
                                             th:if="${!notification.status && owner } " th:text="未读">未读</div>

                                    </div>

                                </li>

                            </ul>
                            <div class="ui divider"></div>
                            <div class="ui mini pagination menu">
                                <a class="item"
                                   th:href="@{'/people/'+${peopleId}+'/'+${parCategory}(page=${notificationInfo.pageNum - 1})}"
                                   th:style="${notificationInfo.pageNum - 1}<=0?'pointer-events: none;opacity: 0.6;'">
                                    上一页
                                </a>
                                <a class="item"
                                   th:href="@{'/people/'+${peopleId}+'/'+${parCategory}(page=${notificationInfo.pageNum + 1})}"
                                   th:style="${notificationInfo.pageNum + 1}>${notificationInfo.pages}?'pointer-events: none;opacity: 0.6;'"
                                >
                                    下一页
                                </a>
                            </div>

                        </div>


                    </div>




                </div>
                <!--右边列表-->
                <div class="five wide column">
                    <!--分类-->
                    <div th:replace="fragments :: right-type"></div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

</div>
<!--底部-->
<!--vertical垂直-->
<footer class="ui inverted segment vertical segment m-padded-tb-massive">
    <div class="ui container center aligned">
        <!--grid布局，共分16份,divided分割线-->
        <div class="ui inverted stackable divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="/static/images/hzu.jpg" alt="" class="ui rounded image" style="width: 110px"/>
                    </div>
                </div>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新资讯</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                </div>
            </div>

            <div class="three wide column">

                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新资讯</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新资讯</h4>
                <p class="m-text-spaced m-opacity-mini">这是一个校园社区</p>

            </div>

        </div>

        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2019 - 2020 Xiehao Designed by Xiehao</p>

    </div>

</footer>
<form  style="display: none" id="delForm" method="post">

</form>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>


    // 手机端右上角按钮点击事件
    $('#mobile-btn').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#mobile-btn1').click(function () {
        $('.m-item-search').toggleClass('m-mobile-hide');
    });

    $('.delete-btn').click(function () {
        var msg = "您确定要删除该文章？";
        if (confirm(msg)==true){
            $("#delForm").attr("action",$(this).attr("del_uri")).submit();
            return false;
        }else{
            return false;
        }


    });
    // 导航栏下拉列表选中
    $(function () {
        $('.nav-dropdown').dropdown({
            on : 'hover'
        });
    });

    //消息提示关闭点击绑定事件
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

</script>
</body>
</html>