<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--nav的导航图片栏-->
    <div class="ui  grid" th:fragment="nav_area">
        <div class="ui center aligned two wide column">
            <div class="left-btn ">

                <a th:attr="page=${pageInfo.getPrePage()}"
                   class="m-btn"
                   href="javascript:void(0);"
                   th:style="!${pageInfo.hasPreviousPage}?'pointer-events: none;':'pointer-events:true'">
                    <i class="ui angle left huge icon"></i>
                </a>



            </div>
        </div>
        <div class="twelve wide column">
            <div class="contain five" th:if="${showType==2}">
                <div class="ui grid">
                    <div class="five column row" style="margin-left: 20px;">
                        <div class="column" th:each="nav:${pageInfo.getList()}">
                            <div align="center">
                                <img src="/static/images/chengxiao2.jpg" alt="" class="ui small circular image m-img-big"
                                     th:src="${nav.imgUrl}"><br>
                                <a href=""
                                   th:href="${nav.url}" th:text="${nav.name}">爱奇艺</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="contain four" th:if="${showType==1}">
                <div class="ui grid">
                    <div class="four wide column" th:each="nav:${pageInfo.getList()}"
                    >
                        <div align="center">
                            <img src="/static/images/chengxiao2.jpg" alt="" class="ui small circular image m-img-big"
                                 th:src="${nav.imgUrl}"><br>
                            <a href=""
                               th:href="${nav.url}" th:text="${nav.name}">爱奇艺</a>
                        </div>
                    </div>
                </div>

            </div>

            <!--下标-->

            <div align="center" id="circle" style="margin-top: 10px">

                <a href="javascript:void(0);"
                   th:each="page:${pageInfo.getNavigatepageNums()}"
                   th:attr="page=${page}">
                    <i class="small black circle icon"
                       th:class="${page}==${pageInfo.getPageNum()}?'small black circle icon':'small white circle icon'"
                       ></i>
                </a>

            </div>

        </div>
        <div class="ui center aligned two wide column">
            <div class="right-btn">
                <a th:attr="page=${pageInfo.getNextPage()}"
                   th:style="!${pageInfo.hasNextPage}?'pointer-events: none;':'pointer-events:true'"
                   href="javascript:void(0);"
                   class="m-btn">
                    <i class="ui angle right huge icon"></i>
                </a>
            </div>

        </div>
        <script>
            $('.m-btn').click(function () {
               var page = $(this).attr('page');
               var url = "/nav?page="+page;
                $('#nav_content').load(url);

            });
            $('#circle a').click(function () {

                $(this).siblings('a').children('i').removeClass('black');
                $(this).find('i').removeClass('white').addClass('black');
                var page = $(this).attr('page');
                var url = "/nav?page="+page;
                $('#nav_content').load(url);
            });
        </script>
    </div>
    <!--nav页面的我的添加-->
    <div class="ui cards" th:fragment="my_set">
        <div class="card" th:unless="${hasUser}">
            <div class="content">
                <div>您还未登陆，请<a href="/login">登陆</a></div>
            </div>
        </div>

        <div class="card" th:if="${hasUser}"
             th:each="diy:${navDiy}">
            <div class="content">
                <img class="right floated  ui  circular image m-img-small" src="/static/images/user.jpg"
                     th:src="${diy.imgUrl}">
                <div class="header" style="padding-top: 15px!important;"
                     th:text="${diy.name}">Elliot Fu </div>
            </div>
            <div class="extra content">
                <div class="ui right floated basic red button m-del-btn"
                th:attr="id=${diy.id}">删除</div>
            </div>
        </div>
        <script>
            $('.m-del-btn').click(function () {
                var url = "/nav/delete?id="+$(this).attr('id');
                $.ajax({
                    url:url,
                    type:'POST',
                    contentType:false,
                    processData:false,
                    cache:false,
                    success:function (data) {
                        if(data.success){
                            //局部加载
                            $('#nav_content').load("/nav");
                            $('#my_set').load("/nav/mySet");
                        }else{
                            alert('删除失败'+data.errMsg);
                        }

                    }
                });

            });
        </script>
    </div>
    <!--文章评论区域-->
    <div th:fragment="commentList">
        <!--因为该代码局部刷新，所以对应的js代码放在这里-->
        <script>
            $(function () {
                $(".reply").click(function () {
                    $("#commentForm").show();
                    $("#comment-btn").hide();
                    $("#parentId").val($(this).attr("parentId"));
                    $("#replyUserId").val($(this).attr("replyUserId"));

                });

                $(".del").click(function () {
                    var msg = "您确定要删除该评论？";
                    if (confirm(msg)==true){
                        var comment = {};
                        var parentId = $(this).attr("parentId");
                        var url = "/"+parCategory+"/comment/del";
                        comment.commentId = $(this).attr("commentId");
                        if (parentId!=null) {
                            comment.parentComment = {
                                commentId : parentId
                            } ;
                        }

                        var formData = new FormData();
                        formData.append('commentStr',JSON.stringify(comment));
                        $.ajax({
                            url:url,
                            type:'POST',
                            data:formData,
                            contentType:false,
                            processData:false,
                            cache:false,
                            success:function (data) {
                                if(data.success){

                                    var commentUrl = "/"+parCategory+"/comment/"+$("#articleId").val();
                                    //局部刷新
                                    $('.comment-area').load(commentUrl);

                                }else {
                                    alert('删除失败'+data.msg);
                                }

                            }

                        });
                    }


                });

            });

        </script>
        <div class="ui threaded comments">
            <h3 class="ui dividing header">Comments</h3>

            <div class="comment" th:each="coment:${commentList}">
                <a class="avatar"
                   th:href="@{|/people/${coment.user.userId}/1|}">
                    <img src="/static/images/user.jpg"
                         th:src="${coment.user.userImg}"
                    >
                </a>
                <div class="content">
                    <a class="author"
                       th:text="${coment.user.userName}"
                       th:href="@{|/people/${coment.user.userId}/1|}">Elliot Fu</a>
                    <div class="ui mini basic teal left pointing label m-padded-mini"
                         th:if="${coment.isAdmin()}">
                        博主</div>
                    <div class="metadata">
                                <span class="date"
                                      th:text="${coment.createTime}">Yesterday at 12:30AM</span>
                    </div>
                    <div class="text">
                        <p th:text="${coment.content}">This has been very useful for my research. Thanks as well!</p>
                    </div>
                    <div class="actions">
                        <a class="reply"
                           th:unless="${user.userId}==${coment.user.userId}"
                           th:attr="parentId=${coment.commentId},replyUserId=${coment.user.userId}"
                        >回复</a>
                        <a class="del"
                           th:if="${user.userId}==${coment.user.userId}"
                           th:attr="parentId=null,commentId=${coment.commentId}"
                        >删除</a>
                    </div>
                </div>
                <div class="comments"
                     th:if="${coment.commentList.size()>0}">
                    <div class="commentList">
                        <div class="comment"
                             th:each="comments:${coment.commentList}"
                        >
                            <a class="avatar"
                               th:href="@{|/people/${comments.user.userId}/1|}">
                                <img src="/static/images/user.jpg"
                                     th:src="${comments.user.userImg}"
                                >
                            </a>
                            <div class="content">
                                <a class="author"
                                   th:text="${comments.user.userName}"
                                   th:href="@{|/people/${comments.user.userId}/1|}">Jenny Hess</a>
                                <div class="ui mini basic teal left pointing label m-padded-mini"
                                     th:if="${comments.isAdmin()}">博主
                                </div>
                                <span th:text="'@'+${comments.replyUser.userName}"
                                      class="m-text-color">@小红</span>
                                <div class="ui mini basic teal left pointing label m-padded-mini"
                                     th:if="${comments.replyIsAdmin}">博主</div>
                                <div class="metadata">
                                        <span class="date"
                                              th:text="${comments.createTime}">Just now</span>
                                </div>
                                <div class="text"
                                     th:text="${comments.content}">
                                    Elliot you are always so right :)
                                </div>
                                <div class="actions">
                                    <a class="reply"
                                       th:unless="${user.userId}==${comments.user.userId}"
                                       th:attr="parentId=${coment.commentId},replyUserId=${comments.user.userId}">回复</a>
                                    <a class="del"
                                       th:if="${user.userId}==${comments.user.userId}"
                                       th:attr="parentId=${coment.commentId},commentId=${comments.commentId}">删除</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>