<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索页面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" >

</head>
<body>
<!--导航栏-->
<!--inverter反转，segment片段-->
<nav class="ui inverted attached segment">
    <div th:insert="fragments :: nav"></div>
</nav>

<!--中间内容-->
<div  class="m-padded-tb-big">
    <div class="ui container">
        <div class="container">
            <form action="/search" class="ui action big fluid input" method="get" name="searchForm1">
                <input type="hidden" name="type" th:value="${typeCondition}">
                <input type="text" placeholder="Search..." name="search"
                th:value="${searchCondition}">
                <button class="ui button" onclick="document.searchForm1.submit()">搜索</button>
            </form>


            <div class="ui secondary pointing menu">
                <a class="active item" th:href="@{/search(type=all,search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                th:class="${typeCondition=='all'}?'active item':'item'">
                    <i class="home icon"></i> 综合
                </a>
                <a class="item" th:href="@{/search(type=user,search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                   th:class="${typeCondition=='user'}?'active item':'item'">
                    <i class="user icon"></i> 用户
                </a>
                <a class="item" th:href="@{/search(type=1,search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                   th:class="${typeCondition=='1'}?'active item':'item'">
                    <i class="privacy icon"></i> 失物招领
                </a>
                <a class="item" th:href="@{/search(type=2,search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                   th:class="${typeCondition=='2'}?'active item':'item'">
                    <i class="shop icon"></i> 二手交易
                </a>
                <a class="item" th:href="@{/search(type=3,search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                   th:class="${typeCondition=='3'}?'active item':'item'">
                    <i class="exchange icon"></i> 校园互助
                </a>
                <a class="item" th:href="@{/search(type=4,search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                   th:class="${typeCondition=='4'}?'active item':'item'">
                    <i class="money icon"></i> 兼职信息
                </a>
                <a class="item" th:href="@{/search(type=5,search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                   th:class="${typeCondition=='5'}?'active item':'item'">
                    <i class="student icon"></i> 校园公告
                </a>
                <a class="item" th:href="@{/search(type=6,search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                   th:class="${typeCondition=='6'}?'active item':'item'">
                    <i class="travel icon"></i> 企业信息
                </a>

                <div class="ui dropdown right  item">
                    <div class="text" th:if="!${dateCondition}" th:text="时间不限">时间不限</div>
                    <th:block th:switch="${dateCondition}">
                        <div class="text" th:case="3" th:text="三天内">三天内</div>
                        <div class="text" th:case="7" th:text="七天内">三天内</div>
                        <div class="text" th:case="30" th:text="一月内">三天内</div>
                    </th:block>

                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" style="border-color: white!important;"
                        th:href="@{/search(type=${typeCondition},search=${searchCondition},date='')}">时间不限</a>
                        <a class="item" style="border-color: white!important;"
                           th:href="@{/search(type=${typeCondition},search=${searchCondition},date='3',sort=${sortCondition})}" >三天内</a>
                        <a class="item" style="border-color: white!important;"
                           th:href="@{/search(type=${typeCondition},search=${searchCondition},date='7',sort=${sortCondition})}">七天内</a>
                        <a class="item" style="border-color: white!important;"
                           th:href="@{/search(type=${typeCondition},search=${searchCondition},date='30',sort=${sortCondition})}">一月内</a>
                    </div>
                </div>
                <div class="ui dropdown  item" th:unless="${typeCondition=='user'}">
                    <div class="text" th:if="!${sortCondition}" th:text="排序方式">排序方式</div>
                    <th:block th:switch="${sortCondition}">
                        <div class="text" th:case="edit_time" th:text="时间排序">时间排序</div>
                        <div class="text" th:case="read_count" th:text="热度排序">热度排序</div>
                    </th:block>

                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" style="border-color: white!important;"
                           th:href="@{/search(type=${typeCondition},search=${searchCondition},date=${dateCondition},sort='')}">排序方式</a>
                        <a class="item" style="border-color: white!important;"
                           th:href="@{/search(type=${typeCondition},search=${searchCondition},date=${dateCondition},sort='edit_time')}" >时间排序</a>
                        <a class="item" style="border-color: white!important;"
                           th:href="@{/search(type=${typeCondition},search=${searchCondition},date=${dateCondition},sort='read_count')}">热度排序</a>
                        
                    </div>
                </div>

            </div>

        </div>
        <!--中间部分-->
        <div class="ui grid">
            <div class="eleven wide column">
                <div class="container m-padded-tb-large">
                    <h5 style="color: #757575;font-weight: normal;">找到<span th:text="${count}">30</span>条结果</h5>
                </div>

                <div class="ui segments" th:if="${pageInfo} and ${not #lists.isEmpty(pageInfo.getList())}">
                    <!--左边列表content-->
                    <div class="ui attached top segment">
                        <!--文章列表-->
                        <div class="ui segment padded vertical m-padded-tb-large"
                             th:each="article:${pageInfo.getList()}"
                        >
                            <!--vertical垂直，reversed显示顺序反转-->
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">
                                        <a th:href="@{|/${article.articleCategory.parentId}/${article.id}|}" target="_self"
                                           th:text="${article.getArticleTitle()}"
                                           style="color: black">失物招领1</a>
                                        <div href="javascript:;" class="ui  red basic left pointing label m-margin-tb-tiny"
                                             th:if="${article.top}">置顶</div>
                                    </h3>
                                    <p class="m-text" th:text="|${article.description}...|">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                                    <div class="ui grid">
                                        <div class="row">
                                            <div class="eleven wide column">
                                                <!--horizontal link list 横形列表-->
                                                <div class="ui mini horizontal link list">
                                                    <div class="item">
                                                        <!--avatar圆形图片-->
                                                        <img src="../../static/images/user.jpg" alt="" class="ui avatar image m-pic-avatar"
                                                             th:src="${article.userInfo.userImg}"
                                                        >
                                                        <div class="content">
                                                            <a href="#" class="header" th:text="${article.getUserInfo().getUserName()}"
                                                               th:href="@{|/people/${article.userInfo.userId}/${article.articleCategory.parentId}|}">用户</a>
                                                        </div>

                                                    </div>
                                                    <div class="item">
                                                        <i class="calendar icon"></i>
                                                        <span th:text="${#dates.format(article.editTime, 'yyyy-MM-dd')}">2020-2-27</span>
                                                    </div>
                                                    <div class="item">
                                                        <i class="eye icon"></i>
                                                        <span th:text="${article.readCount}">阅读量</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="right aligned five wide column">
                                                <a href="#" class="ui teal basic label  m-text-thin m-padded-tiny"
                                                   th:text="${article.articleCategory.articleCategoryName}"
                                                   th:href="@{'/'+${article.articleCategory.parentId}(category=${article.articleCategory.articleCategoryId})}">
                                                    问题求助</a>
                                            </div>
                                        </div>

                                    </div>



                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_self"
                                       th:href="@{|/${article.articleCategory.parentId}/${article.id}|}">
                                        <img src="../../static/images/chengxiao.jpg"
                                             alt="" class="ui rounded image m-pic"
                                             th:src="${article.articleImg}">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--左边列表footer-->
                    <div class="ui bottom attached segment">
                        <!--文章列表分页-->
                        <div class="ui pagination  menu">
                            <a class="item"
                               th:href="@{/search(page=${pageInfo.getFirstPage()},type=${typeCondition},search=${searchCondition},date=${dateCondition},sort=${sortCondition})}">
                                首页
                            </a>
                            <a class="icon item"
                               th:href="@{/search(page=${pageInfo.getPrePage()},type=${typeCondition},search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                               th:if="${pageInfo.hasPreviousPage}">
                                <i class="left arrow icon"></i>
                            </a>
                            <a class="active item"
                               th:each="page:${pageInfo.getNavigatepageNums()}"
                               th:text="${page}"
                               th:class="${page}==${pageInfo.getPageNum()}?'active item':'item'"
                               th:href="@{/search(page=${page},type=${typeCondition},search=${searchCondition},date=${dateCondition},sort=${sortCondition})}">
                                1
                            </a>


                            <a class="icon item"
                               th:href="@{/search(page=${pageInfo.getNextPage()},type=${typeCondition},search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                               th:if="${pageInfo.hasNextPage}">
                                <i class="right arrow icon"></i>
                            </a>
                            <a class="item"
                               th:href="@{/search(page=${pageInfo.getLastPage()},type=${typeCondition},search=${searchCondition},date=${dateCondition},sort=${sortCondition})}">
                                尾页
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui segments" th:if="${pageUser} and ${not #lists.isEmpty(pageUser.getList())}">
                    <!--左边列表content-->
                    <div class="ui attached top segment">
                        <!--用户列表-->
                        <div class="ui segment  vertical"
                             th:each="user:${pageUser.getList()}"
                        >
                            <!--vertical垂直，reversed显示顺序反转-->
                            <div class="ui mobile reversed stackable grid">
                                <div class="row">
                                    <!--horizontal link list 横形列表-->
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <!--avatar圆形图片-->
                                            <img src="../../static/images/user.jpg" alt="" class="ui avatar image tiny"
                                                 th:src="${user.userImg}">
                                        </div>
                                        <div class="item" style="
                                            position: relative;
                                            top: 15%;
                                        ">
                                            <a href="#" th:text="${user.userName}"
                                               th:href="@{|/people/${user.userId}/1|}"
                                               style="color: #009a61;text-decoration: none;font-size:14px;
                                                margin-top: 10px;
                                                line-height: 1.8;">用户</a>
                                            <p th:text="${user.description}"
                                               style=" font-weight: 300 !important;font-size:14px;
                                                 letter-spacing: 1px !important;
                                                 line-height: 1.8;"></p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--左边列表footer-->
                    <div class="ui bottom attached segment">
                        <!--用户列表分页-->
                        <div class="ui pagination  menu">
                            <a class="item"
                               th:href="@{/search(page=${pageUser.getFirstPage()},type=${typeCondition},search=${searchCondition},date=${dateCondition},sort=${sortCondition})}">
                                首页
                            </a>
                            <a class="icon item"
                               th:href="@{/search(page=${pageUser.getPrePage()},type=${typeCondition},search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                               th:if="${pageUser.hasPreviousPage}">
                                <i class="left arrow icon"></i>
                            </a>
                            <a class="active item"
                               th:each="page:${pageUser.getNavigatepageNums()}"
                               th:text="${page}"
                               th:class="${page}==${pageUser.getPageNum()}?'active item':'item'"
                               th:href="@{/search(page=${page},type=${typeCondition},search=${searchCondition},date=${dateCondition},sort=${sortCondition})}">
                                1
                            </a>


                            <a class="icon item"
                               th:href="@{/search(page=${pageUser.getNextPage()},type=${typeCondition},search=${searchCondition},date=${dateCondition},sort=${sortCondition})}"
                               th:if="${pageUser.hasNextPage}">
                                <i class="right arrow icon"></i>
                            </a>
                            <a class="item"
                               th:href="@{/search(page=${pageUser.getLastPage()},type=${typeCondition},search=${searchCondition},date=${dateCondition},sort=${sortCondition})}">
                                尾页
                            </a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="five wide column">
                <div class="ui list m-padded-tb-large">
                    <a href="https://www.baidu.com/s?wd=1231" class="item a-item" target="_blank">在 百度 中搜索 »</a>
                    <a href="https://www.google.com/?gws_rd=ssl#newwindow=1&q=123" class="item a-item" target="_blank">在 Google 中搜索 »</a>
                </div>
            </div>
            <style>
                .a-item{
                    color: #009a61 !important;
                    text-decoration: none !important;
                    line-height: 20px !important;
                    width: 120px;
                }
                .a-item:hover{
                    outline: 0 !important;
                }
            </style>
        </div>
    </div>

    <div class="five wide column">

    </div>

</div>

<br>
<br>
<br>
<br>
<!--底部-->
<!--vertical垂直-->
<footer class="ui inverted segment vertical segment m-padded-tb-massive">
    <div class="ui container center aligned">
        <!--grid布局，共分16份,divided分割线-->
        <div class="ui inverted stackable divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/hzu.jpg" alt="" class="ui rounded image" style="width: 110px"/>
                    </div>
                </div>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新资讯</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                </div>
            </div>

            <div class="three wide column">

                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新资讯</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新资讯</h4>
                <p class="m-text-spaced m-opacity-mini">这是一个校园社区</p>

            </div>

        </div>

        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2019 - 2020 Xiehao Designed by Xiehao</p>

    </div>

</footer>
<form  style="display: none" id="delForm" method="post">

</form>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>


    // 手机端右上角按钮点击事件
    $('#mobile-btn').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#mobile-btn1').click(function () {
        $('.m-item-search').toggleClass('m-mobile-hide');
    });


    // 导航栏下拉列表选中
    $(function () {

        $('.ui.dropdown').dropdown({
            on : 'hover'
        });
    });

</script>
</body>
</html>