
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密码修改</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/css/me.css" >
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment">
    <div th:replace="fragments :: nav"></div>
</nav>


<!--中间内容-->
<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <br>
        <br>
        <h2 class="ui teal image header" style="width: 100%;text-align: center;">
                密码修改
        </h2>

        <form th:action="@{|/updatePassword?userId=${session.user.userId}|}" method="post"    class="ui form">

            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui teal basic label">
                        <div class="text">旧密码</div>
                    </div>
                    <input type="password" name="oldPassword" id="oldPassword" placeholder="请输入旧密码" autocomplete="new-password"
                           >
                </div>
            </div>

            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui teal basic label">
                        <div class="text">新密码</div>
                    </div>
                    <input type="password" name="newPassword" id="newPassword" placeholder="请输入新密码" autocomplete="new-password"
                    >
                </div>
            </div>


            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
                <button class="ui teal submit button">提交</button>
            </div>

        </form>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部footer-->
<footer class="ui inverted segment vertical segment m-padded-tb-massive">
    <div th:replace="fragments :: foot"></div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<script>



    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    $('.ui.form').form({
        fields : {
            oldPassword : {
                identifier: 'oldPassword',
                rules: [{
                    type : 'empty',
                    prompt: '旧密码不能为空'
                },{
                    type   : 'length[6]',
                    prompt : '旧密码至少6位数'
                }]
            },
            newPassword : {
                identifier: 'newPassword',
                rules: [{
                    type : 'empty',
                    prompt: '新密码不能为空'
                },{
                    type   : 'length[6]',
                    prompt : '新密码至少6位数'
                }]
            },
        }
    });



</script>
</body>
</html>