<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>输入表单</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="/static/css/me.css" >
    <link rel="stylesheet" href="/static/plugins/editor/css/editormd.min.css">

</head>
<body>
<!--导航栏-->
<!--inverter反转，segment片段-->
<nav class="ui inverted attached segment">
    <div th:insert="fragments :: nav"></div>
</nav>

<!--中间内容-->

<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">

        <form  class="ui form" enctype="multipart/form-data" method="post" th:action="${user}?@{/update}:@{/register}">
            <input type="hidden" name="userId" th:value="${user!=null}?${user.userId}">

            <div class="required field" th:unless="${session.user}">
                <div class="ui left labeled input">
                    <div class="ui teal basic label">
                        <div class="text">账号</div>
                    </div>
                    <input type="text" name="userAccount"  placeholder="请输入账号"
                           th:value="${session.user!=null}?${user.userAccount}">
                </div>
            </div>
            <div class="required field" th:unless="${session.user}">
                <div class="ui left labeled input">
                    <div class="ui teal basic label">
                        <div class="text">密码</div>
                    </div>

                    <input type="password" name="userPassword"  placeholder="请输入密码" autocomplete="new-password">
                </div>
            </div>

            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled input">
                        <div class="ui teal basic label">
                            <div class="text">姓名</div>
                        </div>

                        <input type="text" name="userName"  placeholder="请输入姓名" autocomplete="new-password"
                               th:value="${session.user!=null}?${user.userName}">
                    </div>
                </div>
                <div class="required field">
                    <div class="ui left labeled input">
                        <div class="ui teal basic label">
                            <div class="text">组织</div>
                        </div>
                        <input type="text" name="userClass"  placeholder="请输入院系班级或者企业名称"
                               th:value="${user!=null}?${user.userClass}">
                    </div>
                </div>

            </div>

            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">性别</label>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="gender"
                                   th:value="${user!=null}?${user.gender}">
                            <i class="dropdown icon"></i>
                            <div class="default text m-text-color">性别</div>
                            <div class="menu">
                                <div class="item" data-value="男">男</div>
                                <div class="item" data-value="女">女</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">用户类别</label>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="userType"
                                   th:value="${user!=null}?${user.userType}">
                            <i class="dropdown icon"></i>
                            <div class="default text m-text-color">用户类别</div>
                            <div class="menu">
                                <div class="item" data-value="0">学生</div>
                                <div class="item" data-value="1">教师</div>
                                <div class="item" data-value="2">企业</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <textarea name="description"  placeholder="个人描述..."
                          th:text="${user!=null}?${user.description}"></textarea>
            </div>
            <div class="field">
                <input type="file" name="upload" id="upload" style="display: none;"
                       accept="image/png, image/jpeg, image/gif, image/jpg"
                       onchange="changepic(this)"/>
                <img src="" id="show"  class="ui  circular  image" style="width: 85px;height: 85px;" onerror="this.style.display='none'"/>
            </div>

            <div class="ui error message"></div>


            <div class="ui grid">
                <div class="eight wide column">
                    <div class="field">
                        <div class="button ui" onclick="$('#upload').click()"><i class="ui upload icon"></i>图片上传</div>
                    </div>
                </div>
                <div class="right aligned eight wide column">
                    <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
                    <button class="ui teal submit button " id="submit">发布</button>
                </div>
            </div>


        </form>
    </div>

</div>
<!--底部-->
<!--vertical垂直-->
<footer class="ui inverted segment vertical segment m-padded-tb-massive">
    <div th:replace="fragments :: foot"></div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="/static/js/common/common.js"></script>
<!--<script src="/static/js/company/company-input.js"></script>-->
<script src="/static/plugins/editor/editormd.min.js"></script>

<script>


    // 手机端右上角按钮点击事件
    $('#mobile-btn').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#mobile-btn1').click(function () {
        $('.m-item-search').toggleClass('m-mobile-hide');
    });

    // 下拉列表
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    $('.ui.form').form({
        fields : {
            userAccount : {
                identifier: 'userAccount',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请输入账号'
                }]
            },
            userPassword : {
                identifier: 'userPassword',
                rules: [
                    {
                    type : 'empty',
                    prompt: '标题：请输入密码'
                },{
                    type   : 'length[6]',
                    prompt : '标题：密码至少6位数'
                }]
            },
            userName : {
                identifier: 'userName',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请输入姓名'
                }]
            },
            gender : {
                identifier: 'gender',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请选择性别'
                }]
            },
            userClass : {
                identifier: 'userClass',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请输入组织'
                }]
            },
            userType : {
                identifier: 'userType',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请选择用户类别'
                }]
            },
            userType : {
                description: 'description',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请选择用户类别'
                }]
            }

        }
    });
    // 图片上传预览
    function changepic() {
        var reads= new FileReader();
        if ($('#upload').val().length==0){
            document.getElementById('show').src='';
        } else {
            var f=document.getElementById('upload').files[0];
            reads.readAsDataURL(f);
            reads.onload=function (ev) {
                document.getElementById('show').src=this.result;
                $("#show").css("display","block");

            };
        }
    };





</script>
</body>
</html>