<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>导航页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>

    <div style="height: 100%;" id="demo">
        <!--内容部分-->


            <div class="ui grid" style="height: 100%">
                <div class="four wide column">

                </div>
                <div class="eight wide column" style="margin-top:135px;">
                    <div align="center">
                        <img src="/static/images/baidu.png" alt="" style="width: 25%;height: 25%;">
                    </div>
                    <!--百度搜索区域-->
                    <div align="center" class="m-padded-tb">
                        <form action="https://www.baidu.com/s" class="ui form">
                            <div class="ui big action input" style="width: 70%!important;">
                                <input type="text" name="wd" placeholder="Search...">
                                <button class="ui icon button">
                                    <i class="search icon"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--导航栏模块-->
                    <div class="container m-margin-top" id="nav_content">
                        <!--局部加载载入-->
                    </div>
                    <!--校园社区功能区域-->
                    <div class="container m-padded-top">
                        <div class="row" style="padding-left: 60px;padding-right: 60px">
                            <div class="col-md-2">
                                <a type="button" href="/1" class="btn btn-outline-info" style="width: 100px">
                                    <i class="key icon"></i>失物招领
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a type="button" href="/2" class="btn btn-outline-info" style="width: 100px">
                                    <i class="shop icon"></i>二手交易
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a type="button" href="/3" class="btn btn-outline-info" style="width: 100px">
                                   <i class="exchange icon"></i>校园互助
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a type="button" href="/4" class="btn btn-outline-info" style="width: 100px">
                                    <i class="money icon"></i>兼职信息
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a type="button" href="/5" class="btn btn-outline-info" style="width: 100px">
                                    <i class="student icon"></i>校园公告
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a type="button" href="/6" class="btn btn-outline-info" style="width: 100px">
                                   <i class="travel icon"></i>企业信息
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <button  id="set-btn">
                        <img src="/static/images/set.jpg"  class="rounded-circle" style="
                        width: 38px!important;height: 38px!important;position:absolute;right: 30px;
                        top: 20px;opacity:0.6;"
                        >
                    </button>

                    <div class="ui segment " style="display: none;position: relative;overflow: auto;" id="context1">
                        <div class="ui secondary pointing menu">
                            <a class="item active" data-tab="add">添加 </a>
                            <a class="item" data-tab="set">设置 </a>
                            <a class="right item" id="close-btn">
                                <i class="icon close"></i>
                            </a>
                        </div>
                        <div class="ui active tab" data-tab="add">
                            <div class="ui  menu secondary">
                                <a class="item active" data-tab="add/default">默认</a>
                                <a class="item" data-tab="add/diy">自定义</a>

                            </div>
                            <div class="ui tab active" data-tab="add/default">
                                <div class="ui cards">
                                    <div class="card" th:each="nav:${navDefault}" style="margin-left: 20px;">
                                        <div class="content">
                                            <img class="right floated  ui  circular image m-img" src="/static/images/user.jpg"
                                                 th:src="${nav.imgUrl}">
                                            <div class="header" style="padding-top: 15px!important;"
                                                 th:text="${nav.name}">Elliot Fu </div>
                                            <div class="meta"
                                                 th:text="${nav.description}">New Member </div>
                                        </div>
                                        <div class="extra content">
                                            <div class="ui two buttons">

                                                <a th:href="${nav.url}" class="ui basic green button" target="_blank">打开</a>
                                                <div class="ui basic red button m-add-btn">添加</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="ui tab segment" data-tab="add/diy">
                                <div class="ui grid">
                                    <div class="five wide column">
                                        <img class="ui  circular small image" src="/static/images/upload/ico128.png">
                                    </div>
                                    <div class="eleven wide column">
                                        <form class="ui form" enctype="multipart/form-data">

                                            <div class="field">
                                                <label>网站地址</label>
                                                <input type="text" name="url" id="url" placeholder="http://">
                                            </div>
                                            <div class="field">
                                                <label>网址名称</label>
                                                <input type="text" name="name" id="name" placeholder="网站名称">
                                            </div>
                                            <div class="field">
                                                <input type="file" name="upload" id="upload" style="display: none;"
                                                       accept="image/png, image/jpeg, image/gif, image/jpg"
                                                       onchange="changepic(this)"/>
                                                <img src="" id="show"  class="ui  circular  image m-img-big" onerror="this.style.display='none'"/>
                                            </div>
                                            <div class="ui error message"></div>
                                            <div class="fields">
                                                <div class="button ui" onclick="$('#upload').click()"><i class="ui upload icon"></i>图片上传</div>
                                                <button class="ui button right floated" type="submit">提交</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui tab" data-tab="set">
                            <div class="ui  menu secondary">
                                <a class="item active" data-tab="set/diy">预设布局</a>
                                <a class="item" data-tab="set/my">我的添加</a>
                                <a class="item" data-tab="set/user">我</a>
                            </div>
                            <div class="ui tab active segment" data-tab="set/diy">
                                <div class="ui form">
                                    <p style="color: teal">选择你需要的布局</p>
                                    <div class="inline fields">

                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="show_type" value="1" checked="">
                                                <label>2*4</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="show_type" value="2">
                                                <label>2*5</label>
                                            </div>
                                        </div>

                                    </div>
                                    <button class="ui button m-show-btn">确定</button>





                                </div>
                            </div>
                            <div class="ui  tab" data-tab="set/my" id="my_set">
                                <!--此处代码局部加载生成-->
                            </div>
                            <div class="ui  tab" data-tab="set/user">
                                <div class="ui cards">
                                    <div class="card" th:unless="${session.user}" style="margin-left: 20px;">
                                        <div class="content">
                                            <div>您还未登陆，请<a href="/login">登陆</a></div>
                                        </div>
                                    </div>
                                    <div class="card" th:if="${session.user}"
                                          style="margin-left: 20px;">
                                        <div class="content">
                                            <img class="left floated  ui  circular image m-img" src="/static/images/user.jpg"
                                                 th:src="${session.user.userImg}">
                                            <div class="header" style="padding-top: 15px!important;"
                                                 th:text="${session.user.userName}">Elliot Fu </div>
                                            <a class="meta" th:href="@{/logout}"
                                            >退出登陆 </a>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


    </div>





    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
     <script>

        $('#context1').css("height",$(window).height());
         $('.ui.menu .item').click(function() {
             $(this).siblings().removeClass('active');
             $(this).addClass('active');
         });
         $('#context1 .menu .item')
             .tab({
                 context: $('#context1')
             })
         ;
         $('#set-btn').click(function () {
            $('#set-btn').hide();
            $('#context1').show();
         });
        $('#close-btn').click(function () {
            $('#set-btn').show();
            $('#context1').hide();
        });
         $('.ui.radio.checkbox')
             .checkbox()
         ;


         // 页面第一次加载，自动局部载入导航栏和我的添加的代码片段
         $(function () {

             $('#nav_content').load("/nav");
             $('#my_set').load("/nav/mySet");

         });
         //默认添加ajax
         $('.m-add-btn').click(function () {
            var url = "/nav/add";
            var nav = {};
            nav.url = $(this).siblings('a').attr('href');
            nav.name = $(this).parent().parent().siblings('.content').find('.header').text();
            nav.imgUrl = $(this).parent().parent().siblings('.content').find('img').attr('src');
            var formData = new FormData();//创建表单
            formData.append('navStr',JSON.stringify(nav));//将nav转化为JSON字符串并传入
             $.ajax({
                 url:url,
                 type:'POST',
                 data:formData,
                 contentType:false,
                 processData:false,
                 cache:false,
                 success:function (data) {
                     if(data.success){
                         alert('添加成功');
                         //局部加载
                         $('#nav_content').load("/nav");
                         $('#my_set').load("/nav/mySet");
                     }else{
                         alert('添加失败'+data.errMsg);
                     }

                 }

             });

         });
         // 布局设置ajax
         $('.m-show-btn').click(function () {
             var showType = $("input[name='show_type']:checked").val();
             var url = "/navShow?showType=" + showType ;
             $.ajax({
                 url:url,
                 type:'POST',
                 contentType:false,
                 processData:false,
                 cache:false,
                 success:function (data) {
                     if(data.success){
                         $('#nav_content').load("/nav"); //局部加载
                     }else{
                         alert('修改失败'+data.errMsg);
                     }

                 }

             });
         });
        // 图片上传预览
        function changepic() {
            var reads= new FileReader();
            if ($('#upload').val().length==0){
                document.getElementById('show').src='';
            } else {
                var f=document.getElementById('upload').files[0];
                reads.readAsDataURL(f);
                reads.onload=function (ev) {
                    document.getElementById('show').src=this.result;
                    $("#show").css("display","block");

                };
            }
        };
        // 表单验证和ajax回调
        $('.ui.form')
            .form({
                fields: {
                    url: {
                        identifier  : 'url',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : '请输入网站链接'
                            },
                            {
                                type   : 'url',
                                prompt : '请输入链接格式'
                            },

                        ]
                    },
                    name: {
                        identifier  : 'name',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : '请输入网站名称'
                            },

                        ]
                    }
                },
                onSuccess:function(e){
                    //阻止表单的提交
                    e.preventDefault();
                    // 将数据封装成表单
                    var nav = {};
                    nav.url = $('#url').val();
                    nav.name = $('#name').val();
                    var navImg = $('#upload')[0].files[0];
                    var formData = new FormData();//创建表单
                    formData.append('navImg',navImg);
                    formData.append('navStr',JSON.stringify(nav));//将article转化为JSON字符串并传入
                    //调用ajax提交
                    $.ajax({
                        url:"/nav/diy",
                        type:'POST',
                        data:formData,
                        contentType:false,
                        processData:false,
                        cache:false,
                        success:function (data) {
                            if(data.success){

                                alert('提交成功');
                                //局部加载
                                $('#nav_content').load("/nav");
                                $('#my_set').load("/nav/mySet");
                            }else{
                                alert('提交失败'+data.errMsg);
                            }

                        }

                    });
                }

            })
        ;




     </script>
</body>
</html>