<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>页面详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="/static/css/me.css" >
    <link rel="stylesheet" href="/static/plugins/editor/css/editormd.preview.min.css" >

</head>
<body>
<!--导航栏-->
<!--inverter反转，segment片段-->
<nav class="ui inverted attached segment">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <!--m-item无样式作用，用于js绑定-->
            <a href="#" class="item m-mobile-hide m-item"><i class="home icon"></i>首页</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="idea icon"></i>分类</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="tag icon"></i>通知</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="info icon"></i>关于我</a>
            <div class="righ item m-mobile-hide m-item-search">
                <div class="ui icon input inverted">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>

                </div>
            </div>

            <div class="right item  m-mobile-hide">
                <div>
                    <p>你好，用户</p>
                </div>
                <a href="http://www.baidu.com" style="padding-left: 10px">
                    <img src="/static/images/user.jpg" alt="" class="ui avatar image">
                </a>
            </div>
            <!--手机端自适应右上角菜单按钮-->
            <div class="ui inverted secondary m-mobile-show m-right-top menu ">
                <a href="#" class="ui black icon button" id="mobile-btn">
                    <i class="sidebar icon"></i>
                </a>
                <a href="#" class="ui black icon button" id="mobile-btn1">
                    <i class="search link icon"></i>
                </a>
                <a href="#" class="ui black icon button" id="mobile-btn2">
                    <img src="/static/images/user.jpg" alt="" class="ui avatar image">
                </a>
            </div>



        </div>
    </div>
</nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--头部信息-->
        <div class="ui top attached segment">
            <!--horizontal link list 横形列表-->
            <div class="ui horizontal link list">
                <div class="item">
                    <!--avatar圆形图片-->
                    <img src="/static/images/user.jpg" alt="" class="ui avatar image"
                    th:src="${article.userInfo.userImg}">
                    <div class="content">
                        <a href="#" class="header" th:text="${article.userInfo.userName}"
                        th:href="@{|/people/${article.userInfo.userId}/1|}">用户</a></div>

                </div>
                <div class="item">
                    <i class="calendar icon"></i>
                    <span th:text="${#dates.format(article.createTime,'yyyy-MM-dd')}">2020-2-27</span>
                </div>

                <div class="item">
                    <i class="eye icon"></i><span th:text="${article.readCount}">浏览数</span>
                </div>
            </div>
        </div>
        <!--图片区域-->
        <div class="ui attached segment">
            <img src="/static/images/chengxiao.jpg" alt="" class="ui fluid rounded image"
            th:src="${article.articleImg}">
        </div>
        <!--内容区域-->
        <div class="ui attached padded segment">
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label"
                th:text="${article.articleCategory.articleCategoryName}">失物招领</div>
            </div>
            <!--正文区域-->
            <h2 class="ui center aligned header" th:text="${article.articleTitle}">捡到一部手机</h2>
            <br>
            <div id="content" class="typo  typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large"
            >
                <textarea style="display:none;" th:text="${article.articleContent}">
                    本人与2020/2/29号早上第三节课下课后，于旭日大楼305捡到手机一部，图片如上，请失主按照下列信息及时联系我
                </textarea>

            </div>

        </div>
        <!--作者信息-->
        <div class="ui attached positive message">
            <div class="ui middle aligned grid">
                <div class="eight wide column">
                    <ui class="list">
                        <li>作者：<span th:text="${article.userInfo.userName}">用户</span></li>
                        <li>时间：<span th:text="${#dates.format(article.createTime,'yyyy-MM-dd')}">2020/2/29</span></li>


                    </ui>
                </div>

            </div>

        </div>
        <!--留言区域-->
        <div class="ui bottom attached segment">
            <!--评论信息-->
            <div class="ui teal segment comment-area">
              <!--在此处加载评论片段-->
            </div>
            <!--发表评论区域-->
            <form  method="post" class="ui form segment" id="commentForm" style="display: none;" >
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息..." id="input-content"></textarea>
                </div>
                <input type="text" name="articleId" id="articleId" hidden="hidden" th:value="${articleId}">
                <input type="text" name="parentId" id="parentId" hidden="hidden">
                <input type="text" name="replyUserId" id="replyUserId" hidden="hidden">
                <div class="field">
                    <div class="ui grid">
                        <div class="ui two wide column">

                        </div>
                        <div class="ui right aligned  sixteen wide column">
                            <button class="ui  teal button " id="cancel-btn"><i class="edit icon"></i>取消</button>
                            <button class="ui  teal button " id="submit-btn"><i class="edit icon"></i>发布</button>
                        </div>

                    </div>
                </div>
            </form>

            <!--发布按钮区域-->
            <div class="field">
                <div class="ui grid">
                    <div class="ui eight wide column">

                    </div>
                    <div class="ui right aligned eight wide column">
                        <button class="ui  teal button m-mobile-wide" id="comment-btn"><i class="edit icon"></i>评论</button>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

<!--底部-->
<!--vertical垂直-->
<footer class="ui inverted segment vertical segment m-padded-tb-massive">
    <div class="ui container center aligned">
        <!--grid布局，共分16份,divided分割线-->
        <div class="ui inverted stackable divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="/static/images/hzu.jpg" alt="" class="ui rounded image" style="width: 110px"/>
                    </div>
                </div>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新资讯</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                </div>
            </div>

            <div class="three wide column">

                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新资讯</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">用户故事</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新资讯</h4>
                <p class="m-text-spaced m-opacity-mini">这是一个校园社区</p>

            </div>

        </div>

        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2019 - 2020 Xiehao Designed by Xiehao</p>

    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="/static/plugins/editor/editormd.js"></script>
<script src="/static/plugins/editor/lib/marked.min.js"></script>
<script src="/static/plugins/editor/lib/prettify.min.js"></script>
<script>
    var test = window.location.href;
    var array = test.split("/");
    var parCategory = array[array.length-2];
    $("#commentForm").attr("action","/"+parCategory+"/comment");

    // 手机端右上角按钮点击事件
    $('#mobile-btn').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#mobile-btn1').click(function () {
        $('.m-item-search').toggleClass('m-mobile-hide');
    });
    // 评论表单相关按钮
    $("#comment-btn").click(function () {
       $("#commentForm").toggle();
        $("#comment-btn").toggle();
        $('#commentForm').attr("action","/"+parCategory+"/comment");
    });
    $("#cancel-btn").click(function () {
        clear();
        $("#commentForm").hide();
        $("#comment-btn").toggle();
        return false;
    });
    function clear(){
        $("#input-content").val('');
        $("#input-content").attr("placeholder", "请输入评论信息...");
        $("#parentId").val(null);
    };

    $("#submit-btn").click(function () {

        var comment = {};
        var url = $("#commentForm").attr("action");
        comment.content = $('#input-content').val();
        comment.articleId = $('#articleId').val();
        comment.parentComment = {
            commentId : $('#parentId').val()
        } ;
        comment.replyUser = {
            userId : $('#replyUserId').val()
        } ;
        var formData = new FormData();
        formData.append('commentStr',JSON.stringify(comment));
        $.ajax({
            url:url,
            type:'POST',
            data:formData,
            contentType:false,
            processData:false,
            cache:false,
            success:function (data) {
                if(data.success){

                    var commentUrl = "/"+parCategory+"/comment/"+$("#articleId").val();
                    $("#commentForm").hide();
                    $("#comment-btn").toggle();
                    clear();
                    //局部刷新
                    $('.comment-area').load(commentUrl);

                }else {
                    alert('评论失败');
                }

            }

        });
      return false;

    });
    // 页面第一次加载，自动局部载入评论的片段
    $(function () {
        var url = "/"+parCategory+"/comment/"+$("#articleId").val();
        $('.comment-area').load(url);

    });

    $(function () {
        editormd.markdownToHTML("content", {});
    });




</script>
</body>
</html>